# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/
env/

# Packaging
*.egg-info/
dist/
build/

# SQLite
*.db

# OS
.DS_Store

# Editor
.vscode/
.idea/
